@import "tailwindcss";

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "GeneralSans";
  src: url("/fonts/GeneralSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "GeneralSans", sans-serif;
  overflow-x: hidden;
}